body{
    background: #8a4350;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    height: 100vh;
}

#app{
    padding: 3em;
    color: #d4ba25;
    
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
}

.holder{
    margin: 2em;
}

.entry{
    background: rgba(59, 74, 107, .4);
    padding: 0.5em;
}


/*  Basic Styling To Override Default For Basic HTML Elements */
label{
    display:block;
    font-size: 27px;
}

input{
    display:block;
    height: 3em;
    width: 20em;
    background:#1c5564;
    color: #d4ba25;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    border: none;
    padding-left: 4px;
}

button{
    width: 15.5em;
    height: 2em;
    background: #3b4a6b;
    color: #d4ba25;
    font-size: 26px;
    font-family: 'Oswald', sans-serif;
    border: none;
    box-shadow: 2px 4px 5px #444;
    cursor: pointer;
}
h1{
    font-size: 36px;
}

textarea{
    background:#1c5564;
    color: #d4ba25;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    width: 20em;
    height: 5em;
    padding-left: 4px;
}
/* Reset style for HTML element on active to have no border*/
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
/* Style for Placeholder Text*/
::placeholder { /* Firefox, Chrome, Opera */ 
    color: #d4ba25; 
    font-family: 'Oswald', sans-serif;

} 
  
:-ms-input-placeholder { /* Internet Explorer 10-11 */ 
    color: #d4ba25; 
    font-family: 'Oswald', sans-serif;

} 
  
::-ms-input-placeholder { /* Microsoft Edge */ 
    color: #d4ba25; 
    font-family: 'Oswald', sans-serif;

} 

.title{
    font-weight: 700;
}